/**
 * Created by Rafael Mendiola (rmendiola@alum.mit.edu) on 8/13/14.
 */

.fbredd-item{
    margin-left: -4px;
    padding: 3px 4px;
    margin-right: 12px;
}


.fbredd-link{
    font-weight: bold;
    font-size: 12px;
}

.fbredd-text-block{
    overflow: hidden;
}

.fbredd-details{
    color: #9197a3;
}

.fbredd-details a{
    color: #9197a3;
}

.fbredd-trending-arrow{
    float:left;
    margin: -1px 5px -1px 0;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/trend_arrow.png');
    background-repeat: no-repeat;
    background-size: 35px 86px;
    background-position: -17px -69px;
    height: 16px;
    width: 16px;
}

.dropdown-icon{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/dropdown.png');
    background-repeat: no-repeat;
    background-size: 53px 226px;
    background-position: -38px -218px;
    float: left;
    height: 5px;
    margin: 4px 8px 4px 4px;
    width: 9px;
}

.more-link{
    display: block;
    margin-top: 5px;
    color: #6d84b4;
}

.fbredd-about{
    margin-top: 10px;
    padding: 3px 4px;
    color: #9197a3;
}

.fbredd-about a{
    color: #6d84b4;
}

.fbredd-link-inactive{
    color: #9197a3;
}